<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="99ae8d">  <td>13/03/25 13:07:37</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;WebDrInit.setUp()[pri:0, instance:Tests.Pro@4ea7a296]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1458751852</td>   <td></td> </tr>
<tr bgcolor="f08bab">  <td>13/03/25 13:07:46</td>   <td>8115</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Pro.pro()[pri:0, instance:Tests.Pro@4ea7a296]">pro</td> 
  <td>main@1458751852</td>   <td></td> </tr>
<tr bgcolor="99ae8d">  <td>13/03/25 13:07:54</td>   <td>16264</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;WebDrInit.tearDown()[pri:0, instance:Tests.Pro@4ea7a296]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1458751852</td>   <td></td> </tr>
</table>
